.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4F603530;/*00-255=FF*/
  border-radius: 16px;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: #4F6035;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
    color: #4F603580;
}

#list{
    background-color: #4F603530;
    border-radius: 16px;
    margin: 15px;
    padding: 15px;
    margin-top: 20px;
    padding-top: 20px;
}
.about{
    background-color: #F0BEB750; 
    border-radius: 16px;
    margin: 15px;
    padding: 15px;
    margin-top: 30px;
    padding-top: 30px;
}
.why{
    background-color: #4F603550; 
    border-radius: 16px;
    margin: 15px;
    padding: 15px;
    margin-top: 30px;
    padding-top: 30px;
}
.contact{
   background-color: #F0BEB750; 
   border-radius: 16px;
   margin: 15px;
   margin-top: 30px;
   padding-top: 30px;
   padding: 15px;
}